<html>
    <head>
            <link href="style.css" rel="stylesheet">
    </head>
    <body>
            <script src="/script.js"></script>
            <!--<div id="pp">d</div>-->
        <form action="">
                    <p><input type="button" onclick="zav1()"></p>
        </form>
                   
                   <div id="S"></div>
                   <div id="P"></div>
                   
    </body>
</html>